<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.
xsd">
<module name="Nova_Dostava2" setup_version="2.0.0">
<sequence>
<!-- Provjerava je li aktivan modula Megento_Shipping o kojem ovisi -->
<module name="Magento_Shipping"/>
</sequence>
</module>
</config>